@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter;
}

header {
  position: fixed;
  z-index: 1;
  padding: 1em;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

section {
  text-align: center;
}

p {
  color: #777777;
  line-height: 1.5;
}

h3,
p {
  margin: 0 1rem;
}

.img-container {
  width: 3em;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

.name,
#header-link-list {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}


.name {
  margin: 0;
}

#hamburger-menu-icon,
#close-menu-icon {
  width: 1.75em;
}

#close-menu-icon {
  display: none;
}

#header-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background-color: #ffffff;
}

#header-menu-list {
  list-style: none;
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-menu-list-item {
  padding: 1em 2em;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  border-top: 1px solid #eeeeee;
}

.header-menu-link-list {
  display: none;
}

#hero {
  margin: 0;
  height: 90vh;
}

#hero,
#contact {
  background: linear-gradient(rgba(0, 98, 185, 0.8)), url('../assets/imgs/common-bg.svg');
  background-position: center;
}

#hero,
#hero p,
#contact,
#contact p {
  color: #ffffff;
}

.hero-content {
  margin: 0 1em;
  position: absolute;
  top: 25%;
}

.hero-header {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1.5;
}

.hero-link {
  margin: 3em 1em;
  padding: 1em 0.75em;
  background-color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.underlined-heading {
  position: relative;
  margin-top: 2em;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.underlined-heading::after {
  content: '';
  position: absolute;
  top: 1.5em;
  height: 5px;
  width: 1em;
  background: #0062B9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

#projects,
#about,
#contact {
  padding: 3em 0;
}

#projects h3,
#about h3 {
  margin-bottom: 1em;
}

.projects-img {
  padding: 0 1em 5em;
  margin-top: 5em;
  width: 100%;
  object-fit: cover;
}

.projects-link,
.about-link {
  display: inline-block;
  margin: 2em;
  padding: 1em 3em;
  background-color: #0062B9;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.projects-link a,
.about-link a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#about {
  background-color: #fafafa;
}

.about-description,
.about-background {
  margin-bottom: 3em;
}

.about-header,
.about-background {
  text-align: left;
}

.about-link {
  display: block;
  margin-left: 1em;
  margin-bottom: 5em;
  width: 50%;
}

.skills-container {
  margin-left: 1em;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin: 0 1em 1em 0;
  padding: 1em 2em;
  color: #777777;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
}

#contact {
  padding-bottom: 10em;
}

#contact h2 {
  position: relative;
  margin-top: 2em;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#contact h2::after {
  content: '';
  position: absolute;
  top: 1.5em;
  height: 5px;
  width: 1em;
  background: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

#contact a,
#contact a:visited,
#contact a:hover,
#contact a:active {
  color: #ffffff;
  text-decoration: underline;
}

footer {
  padding: 3em 0;
  background-color: #000000;
  color: #ffffff;
}

footer h2 {
  text-transform: uppercase;
}

footer h2,
.social-icons-container {
  margin-left: 1rem;
}

footer h2,
.footer-name {
  font-size: 1rem;
}

footer p {
  color: #ffffff;
}

.social-icons-container {
  margin-bottom: 3em;
}

.social-icon {
  width: 10%;
}

.footer-name {
  font-weight: 700;
  text-transform: uppercase;
}

#copyright {
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  #header-menu-btn {
    display: none;
  }

  .header-menu-link-list {
    display: block;
  }

  #header-link-list {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1em;
  }

  .hero-header {
    font-size: 3rem;
  }

  .hero-description {
    font-size: 1.5rem;
  }

  .hero-link {
    display: inline-block;
    width: 40%;
  }

  .about-background {
    width: 75%;
  }

  .about-link {
    width: 30%;
  }

  .skills-container {
    width: 75%;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .social-icons-container {
    margin: 0 1em;
  }
}