@font-face {
  font-family: Karla;
  src: url(../assets/fonts/Karla.ttf);
}

@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter.ttf);
}

body {
  margin: 0;
  padding: 5em 1.5em;
  background: #1f2937;
  color: #ecfdf5;
}

h1 {
  margin:  0;
  width: 100%;
  font-family: Karla;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.10;
}

h1 span {
  color: #10b981;
}

p {
  font-family:  Inter;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0.6em;
}

main {
  margin-top: 2.5em;
}

button {
  width: 66%;
  padding: 0.5em;
  background: #10b981;
  color: #021C0F;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  border-radius: 6px;
}

.password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
  border-top: .5vh solid #2f3e53;
  margin-top: 1.75em;
  padding-top: 1.75em;
  padding-left: 0;
  list-style-type: none;
}

.password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background: #273549;
  color: #55f991;
  border-radius: 6px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.25em;
}

/* medias queries */
@media (min-width: 768px) {
  h1 {
    width: 50%;
  }

  button {
    width: 33%;
  }

  .password-container {
    flex-direction: row;
    width: 75%;
    border-width: .3vh;
  }

  .password {
    height: 4vh;
  }
}

@media (min-width: 1024px) {
  p {
    font-size: 1.5rem;
  }

  button {
    width: 25%;
    font-size: 1.25rem;
  }

  .password {
    font-size: 1.25rem;
  }
}

@media (min-width: 1366px) {
  h1 {
    width: 33%;
  }

  button {
    width: 20%;
  }

  .password-container {
    width: 50%;
  }
}

@media (min-width: 1600px) {
  h1 {
    width: 20%;
  }

  button {
    width: 10%;
  }

  .password-container {
    width: 25%;
  }
}