@font-face {
  font-family: Cursed Timer;
  src: url(../assets/fonts/CursedTimer.ttf);
}

body {
  margin: 0;
}

.container {
  background: #20244c;
  width: 50%;
  margin: auto;
  padding: 1.75em 3em;
}

#score-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-bottom: 2em;
}

.title {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 0 0.25em 0;
}

.score {
  color: #fc4c6c;
  background: #000000;
  font-family: Cursed Timer;
  font-size: 4.5rem;
  margin: 0 0 0.25em 0;
  padding: 0.25em 0;
  border-radius: 5px;
}

button {
  background: #20244c;
  color: #a4b3df;
  border: 0.3vh solid #a4b3df;
  border-radius: 5px;
  height: 6vh;
}

.add-btn {
  width: 25%;
  font-family: Cursed Timer;
  font-size: 1.25rem;
}

.new-game {
  width: 75%;
  margin: auto;
}

@media (min-width: 768px) {
  .score {
    display: block;
    width: 50%;
    margin: .25em auto;
  }

  .add-btn {
    width: 15%;
    height: 5vh;
  }

  .new-game {
    width: 48%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 66%;
  }

  .score-container {
    flex-direction: row;
  }

  .score {
    display: block;
    width: 80%;
    margin: .25em auto;
  }

  .add-btn {
    width: 25%;
    height: 3vh;
    padding-right: 1em;
  }

  .new-game {
    width: 70%;
    font-size: 1.25rem;
  }
}

@media (min-width: 1366px) {
  .add-btn {
    height: 3.5vh;
  }

  .new-game {
    width: 65%;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 50%;
  }

  .new-game {
    width: 60%;
  }
}