@font-face {
  font-family: Cursed Timer;
  src: url(../assets/CursedTimer.ttf);
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #20244c;
  width: 50%;
  margin: auto;
  padding: 30px 50px;
}

.title {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;font-size: 40px;
  margin: 0 0 10px 0;
}

.score {
  color: #fc4c6c;
  background: #000000;
  font-family: Cursed Timer;
  font-size: 72px;
  margin: 0 0 20px 0;
  padding: 20px 0 10px 0;
  border-radius: 5px;
}

.add-btn {
  width: 45px;
  height: 45px;
  background: #20244c;
  color: #9cacdc;
  border: 2px solid #9cacdc;
  border-radius: 5px;
  font-family: Cursed Timer;
  font-size: 18px;
}