@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5em 1em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/imgs/movie-posters.png');
  background-position: 0% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffffF;
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size: 2 rem;
}

ul {
  padding: 0;
  list-style: none;
}

ul a {
  font-weight: 700;
  font-size: 0.75rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.search-bar {
  position: absolute;
  bottom: -10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 1em;
  border: solid 0.06em #d1d5db;
  border-radius: 0.4em;
  background-color: #ffffff;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / 3;
  align-items: center;
}

.input-container input {
  font-family: Inter;
  font-weight: 500;
  border: none;
  grid-column: 2 / 13;
  height: fit-content;
}

.input-container input:active,
.input-container input:focus,
.search-bar button:focus:active,
.search-bar button:focus,
header ul a {
  outline: none;
}

.input-container input:-webkit-autofill {
  background-clip: text;
  -webkit-text-fill-color: #5b7280;
  caret-color: #5b7280;
}

.input-container input,
.input-container i {
  font-size: 0.75rem;
  color: #5b7280;
}
.input-container,
.search-bar button {
  padding: 0.5em;
}

.search-bar button {
  height: 100%;
  border: none;
  background-color: #f9fafb;
  color: #374151;
  cursor: pointer;
  border-radius: 0 0.4em 0.4em 0;
}

.required {
  border: solid 0.06em #ff4d4d;
}

.empty-list {
  padding-top: 25vh;
  text-align: center;
  color: #dfdddd;
}

.empty-list i {
  font-size: 4rem;
}

.empty-list p {
  margin: 0.5em 0;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.movies {
  margin-top: 4em;
}

.movie-info-container {
  display: flex;
  flex-direction: column;
  margin: 2em 2em;
  padding-bottom: 2em;
  border-bottom: solid 0.06em black;
}

.poster-container {
  align-self: center;
  width: 30vh;
}

img {
  width: 100%;
}

.movie-flex-container,
.movie-grid-container,
.plot {
  margin-top: 1em;
}

.movie-info-container h2,
.movie-flex-container p,
.movie-grid-container p {
  margin: 0;
}

.movie-flex-container,
.watchlist-container,
.rating-container {
  display: flex;
  align-items: center;
}

.movie-grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.runtime {
  grid-column: 1 / 4;
}

.genre {
  grid-column: 4 / 9;
}

.watchlist-container {
  grid-column: 9 / 12;
}

.movie-flex-container,
.movie-grid-container {
  gap: 1em;
}

.watchlist-container,
.rating-container {
  gap: 0.25em;
}

.plus-icon {
  align-self: center;
  font-size: 0.75rem;
  padding: 0.35em;
  background-color: #111827;
  color: #ffffff;
  border-radius: 50%;
}

.movie-info-container .plot {
  margin-bottom: 0;
  font-size: 1rem;
  color: #6b7280;
}

.movie-info-container .plot,
.title {
  line-height: 1.5;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
}

.rating-container i {
  color: #fec654;
}

.movie-info-container p {
  font-weight: 400;
  font-size: 0.75rem;
  color: #111827;
}

.not-found {
  color: #ff4d4d;
}