@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter.ttf');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #1f2937;
  text-align: center;
  font-family: Inter;
}

label {
  color: #ffffff;
}

.header-container {
  width: 100%;
  background: #6943ff;
  padding-top: 1.75em;
  padding-bottom: 1em;
  margin-bottom: 2.5em;
}

.header {
  width: 100%;
  margin: 0 auto 0.75em;
  font-weight: 800;
  font-size: 1.75rem;
  color: #ffffff;
}

.conversion-input,
.convert-btn {
  width: 30%;
}

.conversion-input {
  display: block;
  margin: 0 auto 0.5em;
  font-weight: 800;
  font-size: 3.75rem;
  color: #ffffff;
  text-align: center;
  background: #6943ff;
  border: none;
  border: 0.05em solid #b295ff;
  border-radius: 0.1em;
}

.conversion-input:-webkit-autofill {
  background-clip: text; /* Needed for auto-complete */
  -webkit-text-fill-color: #ffffff; /* Needed for auto-complete */
  caret-color: #ffffff; /* Needed for auto-complete */
}

.conversion-input::placeholder {
  -webkit-text-fill-color: #ebebeb;
}

.conversion-input:focus {
  outline: none;
}

.convert-btn {
  height: 2.75em;
  padding: 0.75em;
  background: #ffffff;
  border: none;
  border-radius: 0.3em;
  font-weight: 500;
  font-size: 1rem;
  color: #3d3d3d;
}

.conversion-value-container {
  width: 90%;
  margin: 0 auto 1.5em;
  padding: 0 1em;
  background: #273549;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.25em;
}

.unit-type{
  margin: 1.25em 0 0;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ccc1ff;
}

.unit-data {
  color: #ffffff;
}

@media (min-width: 768px) {
  .conversion-input,
  .convert-btn {
    width: 15%;
  }

  .conversion-value-container {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .conversion-input,
  .convert-btn {
    width: 12%;
  }
}

@media (min-width: 1366px) {
  .conversion-input,
  .convert-btn {
    width: 8%;
  }

  .conversion-value-container {
    width: 40%;
  }
}

@media (min-width: 1600px) {
  .conversion-input,
  .convert-btn {
    width: 5%;
  }

  .conversion-value-container {
    width: 20%;
  }
}