@font-face {
  font-family: 'Source Sans Pro';
  src: url("/assets/fonts/SourceSansPro.ttf");
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
  width: 100%;
  font-size: 0.75rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2em solid #c6c6c6;
  padding: 0.75em;
}

.logo {
  width: 33%;
}

.user {
  width: 10%;
  border-radius: 50%;
  margin-right: 0.25em;
}

.user-info {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.75em 0;
}

.user-info,
.footer,
header {
  padding-left: 0.75em;
}

.name {
  font-weight: 700;
  margin-bottom: 0.1em;
}

.location {
  margin-bottom: 0;
}

.name,
.location {
  margin-top: 0;
}

.post {
  width: 100%;
  padding-left: 0;
}

.icon {
  width: 7%;
  margin: 0.75em 0.5em 0.3em 0;
}

.icon:hover,
.icon:focus {
  opacity: .5;
}

.likes {
  font-weight: 700;
  margin-top: 0;
}

.comment-name {
  margin-top: 0.75em;
  font-weight: 700;
  line-height: 1.25;
}

.comment {
  font-weight: 400;
}

@media (min-width: 768px) {
  body {
    width: 50%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  body {
    width: 45%;
  }
}

@media (min-width: 1366px) {
  body {
    width: 30%;
  }
}

@media (min-width: 1600px) {
  body {
    width: 15%;
  }
}