section {
  padding-bottom: 2em;
  font-family: Inter;
}

.complex {
  background: linear-gradient(
    to bottom,
    white 0%,
    white 15%,
    #2545B8 15%,
    #2545B8 100%
  );
  color: #FFFFFF;
}

.simple {
  padding-top: 2em;
  background-color: #FFFFFF;
  color: #111827;
}

img,
.quote,
.quotee,
.position {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

img {
  max-height: 150px;
  object-fit: cover;
  object-position: 0% 30%;
  border-radius: 0.75em;
}

.quote {
  font-weight: 500;
  font-size: 1.5rem;
}

.quotee {
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: 700;
}

.position {
  margin-top: 0;
}

@media (min-width: 768px) {
  section {
    margin: 3em 0;
    padding: 3em 0;
    display: flex;
    flex-direction: row;
    gap: 4em
  }

  .complex {
    background: #2545B8;
  }

  .simple {
    text-align: center;
    padding: 5em 10em;
  }

  .img-container {
    position: relative;
    width: 50%;
  }

  img {
    position: absolute;
    top: -5.3125em;
    left: 3.125em;
    width: 17vw;
    height: 30vh;
    max-width: 300px;
    max-height: none;
    object-position: center;
  }

  /* .quote-container {
    padding-left: 5vw;
  } */
}