@font-face {
  font-family: 'Smythe';
  src: url('../assets/fonts/Smythe.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf');
}

body {
  margin: 0;
  font-family: 'Smythe';
  width: 100%;
  color: #000000;
}

header {
  margin-bottom: 3em;
  padding-bottom: 4em;
  background-image: url('../assets/imgs/burger-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

footer {
  text-align: center;
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.header-descritpion,
main,
footer {
  padding-left: 2.5em;
  padding-right: 2.5em;
  margin: 0;
}

.header-title{
  margin: 0;
  padding: 1em 2em 0.25em 1.5em;
  padding-top: 1em;
  padding-bottom: 0.25em;
  font-size: 2.5rem;
}

.header-descritpion {
  font-size: 1.5rem;
}

.menu-item {
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  padding-bottom: 2.5em;
  border-bottom: solid 0.4vh #d2d2d2;
}

.item-icon {
  margin: 0;
  font-size: 6rem;
  line-height: 1.1;
}

.item-info {
  width: 66%;
}

.item-title {
  white-space: nowrap;
}

.item-title,
.footer-header,
.total-label {
  margin: 0;
  font-size: 1.75rem;
}

.item-description {
  margin: 0.7em 0;
  line-height: 1.5;
  color: #8b8b8b;
}

.item-price,
.total-price {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 20%;
  background-color: #ffffff;
  border: solid 0.25vh #dedede;
  border-radius: 50%;
  font-family: 'Inter';
  font-weight: 200;
  font-size: 2rem;
  color: #3c3c3c;
}

.footer-header {
  margin: 1em;
}

.footer-item-container {
  margin-bottom: 0.5em;
}

.footer-item-container,
.footer-total {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.footer-separator {
  border-bottom: solid 0.5vh #393333;
  margin: 1.25em 0;
}

.footer-total {
  margin-bottom: 3em;
}

.remove-btn {
  border: none;
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.75rem;
  color: #bbbbbb;
  line-height: 2;
}

.complete-btn {
  width: 100%;
  height: 10vh;
  background-color: #16db99;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
}

.payment-popup {
  display: none;
  position: absolute;
  left: 5vw;
  top: 70vh;
  width: 90%;
  height: 80%;
  text-align: center;
  border: solid 0.25vh #757575;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 6px 6px 90vh #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.payment-popup-header {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 1.75em 0 2.5em 0;
}

.payment-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-popup input,
.payment-popup button {
  height: 3.5em;
  border-radius: 4px;
  font-size: 1.25rem;
  line-height: 1.5;
}

.payment-popup input {
  width: 80%;
  color: #757575;
  margin-bottom: 1.25em;
  border: solid 0.1vh #757575;
  padding-left: 1.25em;
}

input:-webkit-autofill {
  border: 1px solid #757575;
  -webkit-text-fill-color: #757575;
  -webkit-box-shadow: 0 0 0 10vh #ffffff inset;
}

.payment-popup button {
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  background-color: #16db99;
  color: #ffffff;
  border: none;
}

.message {
  background-color: #ecfdf5;
  color: #065f46;
  border-radius: 3px;
  font-size: 1.75rem;
  padding: 2em;
}

@media (min-width: 768px) {
  body,
  .payment-popup {
    width: 66%;
    margin: auto;
  }

  .add-btn {
    width: 12%;
  }

  .footer-separator {
    border-width: .25vh;
  }

  .complete-btn {
    height: 5vh;
  }

  .payment-popup {
    left: 17vw;
    top: 30vh;
    height: 55%;
    border-width: 0.1vh;
  }

  .payment-popup button {
    width: 85%;
  }
}
@media (min-width: 1024px) {
  body,
  .payment-popup {
    width: 50%;
  }

  .item-title,
  .total-label {
    font-size: 2.25rem;
  }

  .item-description,
  .complete-btn {
    font-size: 1.25rem;
  }

  .item-price,
  .total-price {
    font-size: 1.75rem;
  }

  .add-btn {
    width: 10%;
  }

  .footer-header {
    font-size: 2rem;
  }
  
  .remove-btn {
    font-size: 1rem;
  }

  .payment-popup {
    left: 25vw;
    height: 40%;
  }
}

@media (min-width: 1600px) {
  body,
  .payment-popup {
    width: 25%;
  }

  .add-btn {
    width: 8%;
  }

  .payment-popup {
    left: 37.5vw;
  }
}