.tooltip-container {
  padding: 1em;
  position: relative;
  display: grid;
  max-width: 350px;
  grid-template-areas: 
    "icon title btn"
    ". content .";
  gap: 0 1em;
  font-family: Inter;
  background-color: var(--primary);
  border-radius: 0.3em;
}

.tooltip-container::after {
  content: "";
  position: absolute;
  bottom: -0.625em;
  left: 2em;
  border-width: 0.625em 0.625em 0;
  border-style: solid;
  border-color: var(--primary) transparent;
}

.title,
.content {
  font-size: 0.875rem;
  line-height: 1.25;
}

.title,
.content,
.icon,
.close-btn {
  align-self: center;
}


.icon {
  grid-area: icon;
  color: var(--tertiary);
}

.title {
  margin: 0;
  grid-area: title;
  font-weight: 500;
  color: var(--secondary);
}

.close-btn {
  grid-area: btn;
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary);
  color: var(--tertiary);
  border: none;
}

.content {
  grid-area: content;
  color: var(--tertiary);
}