body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 80%;
  padding: 1.25em;
  margin: 1.25em auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #e7decd;
  color: #1a1423;
}

.container a:link { 
  color: #1a1423
}

.container a:visited {
  color: #090446;
}

.container a:hover {
  color: #523384;
}

.avatar {
  width: 100%;
}

.container h1 {
  font-size: 1.25rem;
}

@media (min-width: 667px) {
  .container {
    flex-direction: row;
  }

  .avatar {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 75%
  }

  .avatar {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 1em 0.75em;
    width: 50%;
  }

  .avatar {
    width: 40%;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 33%;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 1.25em 0.25em;
    width: 40%;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 1.25em;
    width: 25%;
  }

  .avatar {
    width: 50%;
  }
}