body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  font-weight: 600;
}

.container {
  width: 25%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #e7decd;
  color: #1a1423;
}

.container a:link { 
  color: #1a1423
}

.container a:visited {
  color: #090446;
}

.container a:hover {
  color: #523384;
}

.avatar {
  width: 200px;
}

#name {
  font-size: 1.25rem;
}